#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.bg-image{
  background-image: url(./assets/payble_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

